.idea/
app/.env
app/vendor
app/node_modules
app/var/

app/.phpunit.cache/test-results
app/.php-cs-fixer.cache

app/bootstrap/cache/views/
app/var/cache/*
app/var/session/*
app/public/css/app.css
app/public/js/app.js
app/plantuml.md
app/scraper.php
app/public/fonts
app/public/images/
sys/rabbitmq/.erlang.cookie
sys/rabbitmq/mnesia/
sys/mongodb/
data/
docs/


app/public/js/app.js
app/public/css/app.css
