<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="theme-color" content="#7952b3">
    <title>D6 Invoice Service</title>
    <link rel="stylesheet" href="/css/app.css">
</head>
<body class="text-center">
{% block content %}
{% endblock %}
</body>
</html>