@import "~bootstrap/dist/css/bootstrap.css";

body {
    padding-top: 80px;
    padding-bottom: 40px;
    background-color: antiquewhite;
}

.navbar-brand {
    font-weight: bold
}

div.page-header {
    margin-top: 0;
    padding-top: 0
}

div.page-header h2 {
    margin-top: 0;
    padding-top: 0
}